{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<form class="form" action="" method="post" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-md-10">
            {{ form|crispy }}
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-2 mt-4">
            <button type="submit" class="btn btn-sm btn-outline-primary" style="margin-top:14px; margin-left:-10px">post</button>
        </div>
        {% else %}
        <a class="btn btn-outline-primary" href="/login">Login to comment or give a tip</a> {% endif %}
    </div>
</form>
{%endblock%}